body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.highlight-text{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 80%;
}
.top-banner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.dream-area{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 40px;
}
